*{
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #d7bda6;
}

.logo > img {
    width: 400px;
    height: 100%;
}

.website-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-top: 20px;
}

.button-facebook {
    background-color: #580173;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
}

.button-facebook:hover {
    background-color: #720194;
}

.buttons-number {
    background-color: #580173;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 16px;
    display: inline-block;
}

.buttons-number:hover {
    background-color: #720194;
}

